<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class='compras'>
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Mis Compras</h1>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <h3>En esta sección encontrarás el listado de los alimentos que has redimido con el bono que te entregó el PMA.</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <img class="center-block" src="img/icons/ico_canasta.png">
                        </div>
                    </div>
                    <div class="compras-descripcion row">
                        <div class="col-md-8 col-md-offset-2">
                            <p>Nutrifami analiza tus compras y te brinda consejos sobre cómo hacerlas más eficientes para alcanzar una alimentación balanceada. </p>
                            <p>Recuerda que esta información es sólo de los productos que adquieres con el bono. Si tienes acceso a otros alimentos puedes contárnoslo en la sección de comentarios.</p>
                        </div>
                    </div>
                    <div class="col-md-4  col-md-offset-4">
                        <a href="#/mis-compras " class="btn btn-default center-block ">Ver mis compras</a>
                    </div>
                </div>
            </div>
            <footer ng-include=" 'views/template/footer.tpl.html' "></footer>
        </div>
    </div>
</div>
