<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="sobre">
            <div class="panel">
                <div class="panel-body">
                    <div class="row nf-logo">
                        <div class="col-md-12">
                            <img src="img/logo-nutrifami-verde.png" alt="Logo Nutrifami" />
                            <p>Versión 1.0</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 descripcion">
                            <p>Nutrifami es una estrategia que contribuye a generar competencias entre la población, en materia de nutrición, alimentación y hábitos alimentarios. Con Nutifami contribuimos a lograr el Objetivo de Desarrollo Sostenible : Hambre Cero!.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 wfp-ia-logo">
                            <img src="img/WFP_IA_Logo.png" alt="" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 copyright">
                            <p>&copy; 2016 Nutrifami</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
