<ion-view>
    <ion-content>
        <div class='tips'>
            <div class="tips-header">
                <div class="col">
                    <h1 ng-click="playAudio('audioTitulo')" ion-ripple><i class="tips-titulo-sonido icon ion-volume-high" aria-hidden="true"></i> Consejos Saludables</h1>
                </div>
                <div class="col">
                    <p ng-click="playAudio('audioDescripcion')" ion-ripple><i class="lecciones-descripcion-sonido icon ion-volume-high" aria-hidden="true"></i> Encuentra consejos relacionados de 
                        cada una de las lecciones de Nutrifami.</p>
                </div>
            </div>
            <div class="tips-body">

                <div class="col col-50">
                    <button ng-click='$parent.playAudio(leccion.titulo.audio.id)' class="tip-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                    <div class="tip" go-click="/tips/16" nav-direction="forward" ion-ripple>
                        <img ng-src="img/icons/ico-tip-1.png"/>
                        <h2>Alimentación Saludable</h2>
                    </div>
                </div>

                <div class="col col-50">
                    <button ng-click='$parent.playAudio(leccion.titulo.audio.id)' class="tip-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                    <div class="tip" go-click="/tips/17" nav-direction="forward" ion-ripple>
                        <img ng-src="img/icons/ico-tip-2.png"/>
                        <h2>Combinaciones saludables</h2>
                    </div>
                </div>

                <div class="col col-50">
                    <button ng-click='$parent.playAudio(leccion.titulo.audio.id)' class="tip-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                    <div class="tip" go-click="/tips/18" nav-direction="forward" ion-ripple>
                        <img ng-src="img/icons/ico-tip-3.png"/>
                        <h2>Mujeres embarazadas</h2>
                    </div>
                </div>

                <div class="col col-50">
                    <button ng-click='$parent.playAudio(leccion.titulo.audio.id)' class="tip-sonido icon ion-volume-high" aria-hidden="true" ion-ripple></button>
                    <div class="tip" go-click="/tips/19" nav-direction="forward" ion-ripple>
                        <img ng-src="img/icons/ico-tip-4.png"/>
                        <h2>Manejo de los alimentos</h2>
                    </div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>