@font-face {
    font-family: Muli;
    src: url(../fonts/Muli-Regular.ttf);
}

@font-face {
    font-family: Muli-Light;
    src: url(../fonts/Muli-Light.ttf);
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: #f5f5f5;
    font-family: 'Muli', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Muli', sans-serif;
}


/* LANDING */

.landing header {
    padding-top: 10px;
    height: 64px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

.landing .logo-img{
    cursor: pointer;
}

.landing header.scrolled {
    background-color: #00c97e;
    animation-name: headerscrolled;
    animation-duration: 1s;
    z-index: 10;
}

.landing header .como-funciona {
    color: #ffffff;
    line-height: 45px;
    text-decoration: none;
    display: none;
}

@media(min-width: 600px) {

    .landing header .como-funciona  {
        display: block;
    }

    .landing header{
        padding-top: 22px;
        height: 90px;
    }
}


/* The animation code */

@keyframes headerscrolled {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: #00c97e;
    }
}

.landing {
    background-color: #ffffff;
}

.landing header .logo {
    float: left;
}



.landing header .btn-primary {
    padding: 0 45px;
    line-height: 45px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: none;
    font-size: 13pt;
    color: #00c97e;
}

.landing .hero {
    padding-top: 45px;
    background-color: #00c97e;
    background-image: url('../img/landing-hero-bg.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    color: #ffffff;
    height: 800px;
    margin-bottom: 70px;
}

.landing .hero .descripcion {
    text-align: center;
    clear: both;
    margin-top: 120px;
}

.landing .hero .descripcion h1 {
    font-size: 30pt;
    margin-bottom: 30px;
}

.landing .hero .descripcion p {
    font-size: 14pt;
    margin-bottom: 70px;
}

.landing .acceder,
.landing .aprende,
.landing .mi-perfil {
    position: relative;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 100px;
}

.landing .acceder .navegador,
.landing .aprende .navegador,
.landing .mi-perfil .navegador {
    position: absolute;
    left: 0px;
    top: 50%;
}

.landing .acceder .navegador li,
.landing .aprende .navegador li,
.landing .mi-perfil .navegador li {
    list-style: none;
}

.landing .acceder .navegador a,
.landing .aprende .navegador a,
.landing .mi-perfil .navegador a {
    color: rgba(0, 201, 126, 0.2);
    font-size: 31px;
    line-height: 20px;
    text-decoration: none;
}

.landing .acceder .navegador a.active,
.landing .aprende .navegador a.active,
.landing .mi-perfil .navegador a.active {
    color: rgba(0, 201, 126, 1);
}

.landing .acceder h4,
.landing .aprende h4,
.landing .mi-perfil h4 {
    color: #004d30;
    font-size: 10pt;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.landing .acceder h2,
.landing .aprende h2,
.landing .mi-perfil h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    color: #00a165;
    font-size: 30pt;
}

.landing .acceder p,
.landing .aprende p,
.landing .mi-perfil p {
    color: #4d4d4d;
    font-size: 14pt;
    padding: 10px 10px;
    margin-bottom: 40px;
}

.landing .acceder img,
.landing .aprende img,
.landing .mi-perfil img {
    margin-bottom: 40px;
}

.landing .carousel {
    position: relative;
}

.landing .carousel-inner {
    height: 400px;
}

.landing .carousel-control.left,
.landing .carousel-control.right {
    background-image: none;
}

.landing .carousel-control:hover,
.landing .carousel-control:focus {
    background-image: none;
}

.landing .carousel-control .icon-prev,
.landing .carousel-control .icon-next,
.landing .carousel-control .fa-angle-left,
.landing .carousel-control .fa-angle-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.landing .carousel-control .icon-prev,
.landing .carousel-control .fa-angle-left {
    left: 50%;
}

.landing .carousel-control .icon-next,
.landing .carousel-control .fa-angle-right {
    right: 50%;
}

.landing .carousel-control {
    font-size: 50pt;
    color: #000000;
    opacity: .2;
    filter: alpha(opacity=20);
}

.landing .carousel-caption {
    position: initial;
    right: 0;
    left: 0;
    z-index: 10;
    color: #4d4d4d;
    padding: 0px 40px;
    text-align: center;
    text-shadow: none;
}

.landing .carousel-caption h3 {
    font-size: 14pt;
    color: #4d4d4d;
    margin-bottom: 8px;
}

.landing .carousel-caption p {
    font-size: 10pt;
    color: #4d4d4d;
    max-width: 400px;
    margin: 0 auto;
}

.landing footer {
    text-align: center;
    padding: 0px;
    background: url('../img/landing-footer-bg.png') #00c97e no-repeat;
    color: #ffffff;
    margin: 0px;
    background-position: 80% 50%;
}

.landing footer h2 {
    margin-top: 80px;
    font-size: 30pt;
}

.landing footer .btn-primary {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    color: #ffffff;
    font-size: 15pt;
    line-height: 55px;
    margin-bottom: 80px;
    margin-top: 27px;
    padding: 0 65px;
}

.landing footer .logo {
    font-size: 8px;
    line-height: 19px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.landing footer .logo img {
    margin-right: 15px;
    position: relative;
    top: -5px;
}


.panel {
    margin-top: 5px;
    border: solid 1px #dcdcdc;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: none;
    color: #2f3e47;
}


/* Language */

.language .btn-language{
    border-radius: 5px;
    font-size: 10pt;
    height: 40px;
    margin-bottom: 0;
    padding: 10px;
    letter-spacing: 0;
    background-color: inherit;
    color: white;
    text-transform: none;
}

.language a {
    cursor: pointer;
}

.language.fixed{
    position: fixed;
    top: 20px;
    right: 20px;
}

/* End Language */

.menu-rigth {
    text-align: right;
}

.menu-rigth li{
    display: inline-block;
    margin-left: 10px;
}

.microsoft {
    height: 54px;
    margin-left: 10px;
}

ol.carousel-indicators {
    display: none;
}