<div class="registro">
    <div class="cerrar">
        <button class="glyphicon glyphicon-remove" ng-click="cancel()"></button>
    </div>
    <div class="row logo text-center">
        <div class="col-md-12">
            <h1>Registrarse</h1>
        </div>
    </div>
    <form name="form" ng-submit="registro()" role="form">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div ng-show="form.nombre.$dirty && form.nombre.$error.required" class="help-block">* Debe escribir su nombre y apellido para hacer el registro</div>
                    <input type="text" name="nombre" id="nombre" class="nombre" placeholder="Escriba su nombre y apellido" autocomplete="off" ng-model="usuarioNuevo.FAM_PER_NOMBRE" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div ng-show="form.documento.$dirty && form.documento.$error.required" class="help-block">* El documento es necesario para hacer el registro</div>
                    <input type="text" name="documento" id="documento" class="documento" placeholder="Escriba su número de documento" autocomplete="off" ng-model="usuarioNuevo.FAM_PER_DOCUMENTO" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div ng-show="form.departamento.$dirty && form.departamento.$error.required" class="help-block">* El departamento es necesario para hacer el registro</div>
                    <input type="text" name="departamento" id="departamento" class="departamento" placeholder="Escriba su departamento" autocomplete="off" ng-model="usuarioNuevo.FAM_PER_DEPARTAMENTO" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div ng-show="form.ciudad.$dirty && form.ciudad.$error.required" class="help-block">* La ciudad o municipio es necesario para hacer el registro</div>
                    <input type="text" name="ciudad" id="ciudad" class="ciudad" placeholder="Escriba su ciudad o municio" autocomplete="off" ng-model="usuarioNuevo.FAM_PER_CIUDAD" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-actions">
                    <button type="submit" class="btn center-block login-enviar" ng-disabled="form.$invalid" ion-ripple>Ingresar</button>
                    <div ng-show="error" class="help-block">{{error}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Recuerde que su número de documento es el ingreso a Nutrifami</p>
            </div>
        </div>
    </form>
</div>
