<div class="bs-loading-container" bs-loading-overlay>
    <ng-include src="'views/template/header.tpl.html'"></ng-include>
    <div class="container">
        <div class="nutricompra">
            <div class="panel jugar">
                <div class="header row">
                    <div class="col-md-2">
                        <div class="btn-back-jugar">
                            <a href="#/nutricompra">
                                <img src="img/nutricompra/nc-btn-back-white.png"></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel-central">
                            <div class="cantidad-productos">
                                <ul>
                                    <li><img src="img/nutricompra/icons/ico_cereales_gris.png"></li>
                                    <li><img src="img/nutricompra/icons/ico_frutas_gris.png"></li>
                                    <li><img src="img/nutricompra/icons/ico_carnes_gris.png"></li>
                                    <li><img src="img/nutricompra/icons/ico_lacteos_gris.png"></li>
                                    <li><img src="img/nutricompra/icons/ico_grasas_gris.png"></li>
                                    <li><img src="img/nutricompra/icons/ico_azucares_gris.png"></li>
                                </ul>
                            </div>
                            <div class="carrito">
                                <img src="img/nutricompra/ico_carrito.png">
                                <div class="carrito-cantidad">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vitrina">
                    <div class="productos">
                        <div class="selector" ng-repeat="producto in productos track by $index	">
                            <div class="producto">
                                <a href><img src="/img/nutricompra/icons/{{producto}}.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer ng-include="'views/template/footer.tpl.html'"></footer>
    </div>
</div>
